@model EmployeeApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "EmployeeDetails";
}
<div class="card-main">
<div class="card-container">
    <div class="card">
        <h2>Employee Information</h2>
        <p><strong>Employee ID:</strong>  @Html.DisplayFor(Model => Model.Employee.EmployeeId)</p>
        <p><strong>Employee Name:</strong>  @Html.DisplayFor(Model => Model.Employee.EmployeeName)</p>
        <p><strong>Department:</strong> @Html.DisplayFor(Model => Model.Employee.Department)</p>
        <p><strong>Joining Date:</strong>  @Html.DisplayFor(Model => Model.Employee.JoiningDate)</p>
        <p><strong>Manager:</strong>  @Html.DisplayFor(Model => Model.Employee.Manager)</p>
        <p><strong>Nationality:</strong>  @Html.DisplayFor(Model => Model.Employee.Nationality)</p>
        <p><strong>Phone Number:</strong>  @Html.DisplayFor(Model => Model.Employee.PhoneNumber)</p>
    </div>

    <div class="card">
        <h2>Salary Information</h2>
        <p><strong>Employee ID:</strong>  @Html.DisplayFor(Model => Model.Salary.EmployeeId)</p>
        <p><strong>Salary Tier:</strong>  @Html.DisplayFor(Model => Model.Salary.SalaryTier)</p>
        <p><strong>Basic Pay:</strong>  @Html.DisplayFor(Model => Model.Salary.BasicPay)</p>
        <p><strong>Allowance:</strong>  @Html.DisplayFor(Model => Model.Salary.Allowence)</p>
        <p><strong>Bonus:</strong>  @Html.DisplayFor(Model => Model.Salary.Bonus)</p>
        <p><strong>Provident Fund:</strong>  @Html.DisplayFor(Model => Model.Salary.ProvidentFund)</p>
        <p><strong>Gross Pay:</strong>  @Html.DisplayFor(Model => Model.Salary.GrossPay)</p>
    </div>
</div>
</div>
<style>
    .card-main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: #f0f0f0;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .card-container {
        display: flex;
        gap: 20px;
    }

    .card {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 300px;
        padding: 20px;
        text-align: left;
    }

        .card h2 {
            font-size: 1.5em;
            margin: 0 0 10px;
            text-align: center;
        }

        .card p {
            font-size: 1em;
            color: #555;
            margin: 10px 0;
        }

            .card p strong {
                color: #333;
            }
</style>

